<div class="container">
    <div class="">
        <div class="row home-page-banner">        
            @foreach(var document in Documents["Shows"])
            {
                <div class="column">
                    <div class="border">
                        @{
                            var imagePath = @document.Get("home-page", "/Shows/the-rivals/rivals-header.jpg");
                            var imageLink = @Context.GetLink(imagePath);
                        }
                        <img class="flyer-image" src="@imageLink">
                        <h2 class="show-title">@document.Get("title","defaultName")</h2>
                        <div class="show-byline">@document["byline"]</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
