<div class="header-carousel">
    <div class="carousel slide" data-ride="carousel" id="hero-carousel">
        <ul class="carousel-indicators list-inline">
            @{
                foreach(var show in Documents["UpcomingShows"].Select((value, i) => new { Image=Context.GetLink(value.Get<IDocument>("header-image")), Index=i }))
                {
                    <li data-target="#hero-carousel" data-slide-to="@show.Index" class="@(show.Index==0?"active":"") list-inline-item">
                        <div class="hero-indicator-image" style="background-image: url(@show.Image)"></div>
                    </li>
                }
            }
        </ul>
        <div class="carousel-inner" role="listbox">
            @{
                foreach(var show in Documents["UpcomingShows"].Take(1))
                {
                    <div class="home-page-show-carousel-item carousel-item active">
                        @Html.Partial("Partials/_HomePageShowHeader", show)
                    </div>
                }

                foreach(var show in Documents["UpcomingShows"].Skip(1))
                {
                    <div class="home-page-show-carousel-item carousel-item">
                        @Html.Partial("Partials/_ShowHeader", show)
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <h2>News</h2>
    </div>
</div>

<div class="container news-section">
    <div class="row">
    @{
        foreach(var article in Documents["LatestNews"])
        {
            Html.RenderPartial("Partials/_NewsCard", @article);
        }
    }
    </div>
</div>

<div class="banner">
    <div class="container">
        <h2>Events</h2>
    </div>
</div>

<div class="container events-section">
    <div class="row">
    @{
        foreach(var eventItem in Documents["UpcomingEvents"].Take(4))
        {
            Html.RenderPartial("Partials/_EventItemHomePageCard", @eventItem);
        }
    }
    </div>
</div>
