---
float-nav: true
---

<div class="header-carousel">
    <div class="carousel slide" data-ride="carousel" id="hero-carousel">
        @if(Documents["UpcomingShows"].Count() > 1) {
            <ul class="carousel-indicators list-inline">
                @{
                    foreach(var show in Documents["UpcomingShows"].Select((value, i) => new { Image=Context.GetLink(value.Get<IDocument>("header-image")), Index=i }))
                    {
                        <li data-target="#hero-carousel" data-slide-to="@show.Index" class="@(show.Index==0?"active":"") list-inline-item">
                            <div class="hero-indicator-image" style="background-image: url(@show.Image)"></div>
                        </li>
                    }
                }
            </ul>
        }
        <div class="carousel-inner @(Documents["UpcomingShows"].Count() > 1 ? "has-indicators" : "")" role="listbox">
            @{
                foreach(var show in Documents["UpcomingShows"].Take(1))
                {
                    <div class="home-page-show-carousel-item carousel-item active">
                        @Html.Partial("Partials/_HomePageShowHeader", show)
                    </div>
                }

                foreach(var show in Documents["UpcomingShows"].Skip(1))
                {
                    <div class="home-page-show-carousel-item carousel-item">
                        @Html.Partial("Partials/_HomePageShowHeader", show)
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="home-news-section">
    <div class="container">
        <div class="row">
        @{
            foreach(var article in Documents["LatestNews"].Take(4))
            {
                Html.RenderPartial("Partials/_NewsCard", @article);
            }
        }
        </div>
    </div>
</div>

<div class="home-events-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 style="color:white;">Sedance</h3>
                every wednesday

                <h3 style="color:white;">Simprov</h3>
                every other Friday

                <h3 style="color:white;">Sechoir</h3>
                every wednesday
            </div>
            @{
                foreach(var eventItem in Documents["UpcomingEvents"].Take(3))
                {
                    Html.RenderPartial("Partials/_EventItemHomePageCard", @eventItem);
                }
            }
        </div>
    </div>
</div>
