@{
    var footerModel = Outputs.FromPipeline("Footer").Single();
}

<footer class="footer-container">
    <div class="container">
        <div class="row justify-content-between">
            @foreach (var link in footerModel.Get<IEnumerable<IDocument>>("external-links"))
            {
                <div class="col-auto">
                    <a href="@link["url"]" aria-label="@link["name"]" target="_blank">
                        <img class="footer-image" src="@Context.GetLink(link.Get<string>("image"))" alt="@link["name"]">
                    </a>
                </div>
            }
            <div class="col-auto">
                @foreach (var link in footerModel.Get<IEnumerable<IDocument>>("internal-links"))
                {
                    <div>
                        <a href="@link["url"]" class="text-sedos-blue navigation-link">@link["name"]</a>
                    </div>
                }
            </div>
            <div class="col-auto">
                <div class="pull-right">
                    <ul class="social-icons">
                        @foreach (var social in footerModel.Get<IEnumerable<IDocument>>("social-links"))
                        {
                            <li>
                                <a href="@social["url"]" aria-label="@social["name"]" target="_blank">
                                    <img class="social-icon" src="@Context.GetLink(social.Get<string>("image"))" alt="@social["name"]" width="32" height="32">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pt-3 justify-content-center">
            @foreach (var link in footerModel.Get<IEnumerable<IDocument>>("second-row"))
            {
                <div class="col-auto">
                    @if (link.ContainsKey("url"))
                    {
                        <small>
                            <a class="text-dark" href="@link["url"]">@link["name"]</a>
                        </small>
                    }
                    else
                    {
                        <small>@link["name"]</small>
                    }
                </div>
            }
        </div>
    </div>
</footer>

<script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    });
</script>
