<head>
    <title>@(Model.ContainsKey("metaTitle") ? Model["metaTitle"] : Model["title"])</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Context.GetLink("/assets/css/main.css")">
    <link rel="icon" type="image/png" href="@Context.GetLink("/assets/images/favicon.png")">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KQD2K6GSG1"></script>
    <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-KQD2K6GSG1', {
        'linker': {
          'domains': ['sedos.ticketsolve.com']
        }
      });

      var config = {
        apiKey: 'fb03572133415cec018b9c65dff246e8e3d27fed',
        product: 'COMMUNITY',
        optionalCookies: [
          {
            name: 'analytics',
            label: 'Analytics',
            description: 'Analytical cookies help us to improve our website by collecting and reporting information on its usage.',
            cookies: ['_ga', '_gid', '_gat', '__utma', '__utmt', '__utmb', '__utmc', '__utmz', '__utmv'],
            onAccept: function () {
              gtag('consent', 'update', { 'analytics_storage': 'granted' });
            },
            onRevoke: function () {
              gtag('consent', 'update', { 'analytics_storage': 'denied' });
            }
          }
        ],

        position: 'LEFT',
        theme: 'LIGHT'
      };

      CookieControl.load(config);
    </script>

    @{
      if(Model.ContainsKey("jsonLD"))
      {
        <!-- JSON-LD SEO tags -->
        <script type="application/ld+json">
        @Html.Raw(Model.Get("jsonLd",""))
        </script>
      }
    }

    @{
      if(Model.ContainsKey("metaDescription"))
      {
        <meta name="description" content="@Model.Get("metaDescription", "")">
      }
    }
</head>
