@using Sedos.Helpers;
@model IDocument

@{
    var homePageImageDocument = Model.Get<string>("header-image");
    var link = homePageImageDocument == null ? "" : Context.GetLink(homePageImageDocument);
}

<div class="row show-header">
    <div class="col-md show-header-image @(Model.Get("header-image-contain", false) ? "contain-image" : "")" style="background-image: url(@link)">
    </div>
    <div class="col-md show-details" style="background: @Model.Get("primary-color","#044484")">
        <h1 class="show-title"><a href="@Context.GetLink(Model)">@Model["Title"]</a></h1>
        @{
            if(!string.IsNullOrWhiteSpace(Model.Get("Authors", "")))
            {
                <h2 class="show-authors">@Model["Authors"]</h2>
            }

            if(!string.IsNullOrWhiteSpace(Model.Get("authors2", "")))
            {
                <h2 class="show-authors">@Model["authors2"]</h2>
            }

            if(!string.IsNullOrWhiteSpace(Model.Get("Subtitle", "")))
            {
                <h2 class="show-subtitle">@Model["Subtitle"]</h2>
            }
        }

        <div class="show-details-bottom">
            @if(!string.IsNullOrWhiteSpace(Model.Get("showtime-summary", "")))
            {
                <h3 class="showtime-summary">@Model["showtime-summary"]</h3>
            }
            <div class="show-action-bar">
                @if(Model.Get("box-office-open", false))
                {
                    var boxOfficeText = Model.GetString("box-office-text", "Book tickets");
                    var bookingLink = BoxOfficeUri.FromBoxOfficeLink(Model.GetString("box-office-link", "https://sedos.ticketsolve.com/shows"));
                    <a href="@bookingLink" target="_blank" class="btn btn-light">@boxOfficeText</a>
                }

                @if(!string.IsNullOrWhiteSpace(Model.Get("call-to-action-link", "")))
                {
                    var ctaLink = Model.Get("call-to-action-link", "");
                    var ctaText = Model.Get("call-to-action-text", "");
                    <a href="@ctaLink" target="_blank" class="btn btn-light">@ctaText</a>
                }
                <a href="@Context.GetLink(Model)" class="btn btn-light" style="margin-left: 15px;">More info</a>
            </div>
        </div>
    </div>
</div>
