@model Tuple<IDocument, bool>

@{
    var homePageImageDocument = (IDocument)Model.Item1["header-image"];
    var link = homePageImageDocument == null ? "" : Context.GetLink(homePageImageDocument);
}

<div class="home-page-show-carousel-item carousel-item @(Model.Item2 ? "active" : "")">
    <a href="@Context.GetLink(Model.Item1)">
        <div class="row">
            <div class="col-md home-page-image" style="background-image: url(@link)">
            </div>
            <div class="col-md home-page-details" style="background: @Model.Item1.Get("primary-color","#044484")">
                <h1 class="show-title">@Model.Item1["Title"]</h1>
                @{
                    if(!string.IsNullOrWhiteSpace(Model.Item1.Get("Subtitle", "")))
                    {
                        <h2 class="show-subtitle">@Model.Item1["Subtitle"]</h2>
                    }
                }
                @{
                    if(!string.IsNullOrWhiteSpace(Model.Item1.Get("showtime-summary", "")))
                    {
                        <h3 class="showtime-summary">@Model.Item1["showtime-summary"]</h3>
                    }
                }
            </div>
        </div>
    </a>
</div>
