@model Tuple<IDocument, bool>

@{
    var homePageImageDocument = ((IEnumerable<IDocument>)Model.Item1["HeaderImages"]).FirstOrDefault();
    var link = homePageImageDocument == null ? "" : Context.GetLink(homePageImageDocument);
}

<div class="home-page-show-carousel-item carousel-item @(Model.Item2 ? "active" : "")" style="background-image: url(@link)">
    <a href="@Context.GetLink(Model.Item1)">
        <div class="container">
            <div class="row justify-content-end align-items-end">
                <div class="show-details col-4">
                    <h1>@Model.Item1["Title"]</h1>
                    @{
                        if(!string.IsNullOrWhiteSpace(Model.Item1.Get("Subtitle", "")))
                        {
                            <h2>@Model.Item1.Get("Subtitle","")</h2>
                        }
                    }
                    @{
                        if(!string.IsNullOrWhiteSpace(Model.Item1.Get("ShowtimeSummary", "")))
                        {
                            <h3>@Model.Item1.Get("ShowtimeSummary","")</h3>
                        }
                    }
                </div>
            </div>
        </div>
    </a>
</div>
