@{
    var topLevelNav = Outputs.FromPipeline("TopLevelNav").Single();
}

<nav class="navbar container fixed-top navbar-expand-lg main-navigation navbar-light bg-light">
    <a class="navbar-brand" href="@Context.GetLink("/")">
        <img height="60" width="199" class="d-inline-block align-text-top logo" alt="sedos logo" src="@Context.GetLink("/assets/images/logo/logo-blue.png")"/>
    </a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#topLevelNav"
            aria-controls="topLevelNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topLevelNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @foreach(var navItem in topLevelNav.Get<IEnumerable<IDocument>>("top-level-nav"))
            {
                var active = Context.GetLink(Model).Contains(navItem["url"].ToString());
                <li class="nav-item">
                    <a class="nav-link @(active ? "active" : "") fs-5 text-uppercase"
                        href="@navItem["url"]">
                        @navItem["name"]<span class="visually-hidden">@(active ? "(current)" : "")</span>
                    </a>
                </li>
            }
        </ul>
        <div class="d-flex">
            <a class="btn btn-sedos-blue my-2 my-sm-0 text-uppercase" href="https://tickets.sedos.co.uk">Book tickets</a>
        </div>
    </div>
</nav>
