@{
    var topLevelNav = Outputs.FromPipeline("TopLevelNav").Single();
}

<div class="container fixed-top bg-light">
    <nav class="navbar navbar-expand-lg main-navigation navbar-light">
        <a class="navbar-brand" href="@Context.GetLink("/")">
            <svg class="logo" viewBox="0 0 426.96863 120.29696" xmlns="http://www.w3.org/2000/svg">
                <text id="logo-name" transform="matrix(1.33333 0 0 1.33333 -3.32 95.443)" font-weight="900" font-size="100" font-family="Arial Black">
                    <tspan x="0 48.1 101.8 155.5 209.2" y="0">
                        sedos
                    </tspan>
                </text>
                <text id="logo-tagline" x="154.441" y="-520.459" transform="matrix(1.33333 0 0 1.33333 -203.32 811.295)" font-weight="400" font-size="10.5" stroke-width=".75" font-family="Arial Black">
                    <tspan x="154.441" y="-520.459" dx="0">
                        The City of London&apos;s premier amateur theatre company</tspan>
                </text>
            </svg>
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#topLevelNav"
                aria-controls="topLevelNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topLevelNav">
            <ul class="navbar-nav mr-auto">
                @foreach(var navItem in topLevelNav.Get<IEnumerable<IDocument>>("top-level-nav"))
                {
                    var active = Context.GetLink(Model).Contains(navItem["url"].ToString());
                    <li class="nav-item">
                        <a class="nav-link @(active ? "active" : "")"
                           href="@navItem["url"]">
                            @navItem["name"]<span class="sr-only">@(active ? "(current)" : "")</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>
