@model IDocument

<div class="news-card-container col-md-3 col-sm-6 mb-3 mb-md-0">
    <a href="@Context.GetLink(Model)">
        <div class="news-card card border-0">
            <div class="card-header">
                <h4 class="card-title">@Model["title"]</h4>
            </div>
            @if(Model.ContainsKey("image") && Model["image"] != null)
            {
                <div class="card-img-top">
                    <img src="@Context.GetLink((IDocument)Model["image"])" alt="@Model.Get("imageAlt", Model.Get<string>("title"))">
                </div>
            }
            else
            {
                <div class="card-body text-white">
                    @{
                        var extract = Model.Get("extract", "");
                        extract = string.IsNullOrEmpty(extract) ? (string)Model["Excerpt"] : extract;
                    }
                    <p class="card-text news-excerpt">@Html.Raw(extract)</p>
                </div>
            }
            <div class="card-footer">
                Read the full article
            </div>
        </div>
    </a>
</div>
