@model IDocument

@{
    var homePageImageDocument = (IDocument)Model["header-image"];
    var link = homePageImageDocument == null ? "" : Context.GetLink(homePageImageDocument);
}

<div class="row show-header">
    <div class="col-md show-header-image" style="background-image: url(@link)">
    </div>
    <div class="col-md show-details" style="background: @Model.Get("primary-color","#044484")">
        <div class="show-details-top">
            <h1 class="show-title">@Model["Title"]</h1>
            @{
                if(!string.IsNullOrWhiteSpace(Model.Get("Authors", "")))
                {
                    <h2 class="show-authors">@Model["Authors"]</h2>
                }

                if(!string.IsNullOrWhiteSpace(Model.Get("Subtitle", "")))
                {
                    <h2 class="show-subtitle">@Model["Subtitle"]</h2>
                }
        }
        </div>

        <div class="show-details-bottom">
            @if(!string.IsNullOrWhiteSpace(Model.Get("showtime-summary", "")))
            {
                <h3 class="showtime-summary">@Model["showtime-summary"]</h3>
            }
            <div class="show-action-bar">
                <a href="#" class="btn btn-light">Book tickets</a>
            </div>
        </div>
    </div>
</div>
