@{
    Layout = "_Page";
}

<div class="row">
    <div class="col-md-8 pt-3">
        @RenderBody()
    </div>
    <div class="col-md-4 events-column pt-3">
        <h3>Essential info</h3>
        @{
            if(Model.ContainsKey("venue"))
            {
                var venue = Outputs.FromPipeline("Venues").FirstOrDefault(x => x["key"].ToString().Equals(Model["venue"].ToString()));
                if(venue != null)
                {
                    <h4><a href="@Context.GetLink(venue)">@venue["name"]</a></h4>
                }
                else
                {
                    <h4>@Model["venue"]</h4>
                }
            }
        }
        @{
            if(Model.ContainsKey("recurrence") && !string.IsNullOrWhiteSpace(Model.Get<string>("recurrence")))            
            {
                <h5>@Model.Get("recurrence")</h5>
            }
            else
            {
                var times = Model.Get("times", Enumerable.Empty<DateTime>());
                if(times.Any())
                {
                    <ul>
                        @foreach(var time in times
                                .Select(t => t.ToString("dddd dd MMMM yyyy h.mm") + t.ToString("tt").ToLower())
                        )
                        {
                            <li>@time</li>
                        }
                    </ul>
                }
            }

            if(Model.Get("ticket-prices", null) != null)
            {
                <h5>@Model.Get("ticket-prices", null)</h5>
            }
        }
    </div>
</div>
