@model IDocument

@{
    Layout = "_Page";
    var venues = Documents["Venues"].Single().Get<IEnumerable<IDocument>>("venues");
    var venue = venues.FirstOrDefault(x => x["key"].ToString().Equals(Model["venue"].ToString()));
}

<div class="row">
    <div class="col-md-8 pt-3">
        @RenderBody()
    </div>
    <div class="col-md-4 events-column pt-3">
        <h3>Essential info</h3>
        @{
            if(venue != null)
            {
                <h4><a href="@venue["url"]">@venue["name"]</a></h4>
            }
            else
            {
                <h4>@Model["venue"]</h4>
            }
        }
        @{
            var times = Model.Get("times", Enumerable.Empty<DateTime>()).OrderBy(x=>x);

            if(Model.ContainsKey("recurrence"))
            {
                <h5>@Model.Get("recurrence")</h5>
            }
            if(times.Any())
            {
                <ul>
                    @foreach(var time in times.Select(x => x.ToString("dddd dd MMMM yyyy h.mm") + x.ToString("tt").ToLower()))
                    {
                        <li>@time</li>
                    }
                </ul>
            }

            if(Model.Get("ticket-prices", null) != null)
            {
                <h5>@Model.Get("ticket-prices", null)</h5>
            }
        }
    </div>
</div>
</div>
