@{
	Layout = "_Default";
}

@model IDocument

<div class="header-carousel">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @{
                Html.RenderPartial("Partials/_HomePageCarouselItem", Tuple.Create(Model, true));
            }            
        </div>
    </div>
</div>

<div class="banner empty-divider"> 
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8" role="tabpanel">
            <ul class="nav nav-tabs nav-fill" role="tablist" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-expanded="false">Details</a>
                </li>
                @{
                    foreach(var document in Documents["ShowDetails"].Where(showDetails => showDetails["show"].ToString().Trim() == Model["title"].ToString().Trim()))
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="@document["section"]-tab" data-toggle="tab" href="#@document["section"]" role="tab" aria-controls="@document["section"]" aria-expanded="false">@document["section"]</a>
                        </li>               
                    }
                }                
            </ul>
            <div class="tab-content" id="myTabContent">
                <div role="tabpanel" class="tab-pane fade active show" id="details" aria-labelledby="details-tab" aria-expanded="false">
                    <p>
                        @RenderBody()
                    </p>
                </div>
                @{
                    foreach(var document in Documents["ShowDetails"].Where(showDetails => showDetails["show"].ToString().Trim() == Model["title"].ToString().Trim()))
                    {
                        <div class="tab-pane fade" id="@document["section"]" role="tabpanel" aria-labelledby="@document["section"]-tab" aria-expanded="true">
                            @Html.Raw(document.Content)
                        </div>
                    }
                }   
                
            </div>
        </div>
        <div class="col-md-4">
            <h4>@Model.Get("Venue")</h4>
            @{
                var showDates = Model.Get("showtimes", Enumerable.Empty<DateTime>()).OrderBy(x => x).Select(x => x.ToString("f"));
                if(showDates.Any())
                {
                    <ul>
                        @foreach(var showDate in showDates)
                        {
                            <li>@showDate</li>
                        }
                    </ul>
                }
            }
            <button class="btn">Buy Tickets!</button>
        </div>
    </div>
</div>
